body{
    margin: 0;
    padding: 0;
}
#main{
    text-align: center;
}
table, tr, td{
    width: 800px;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}
#main #add-prd a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cadetblue;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
}
#main p{
    margin-bottom: 10px;
}
#main table a{
    text-decoration: none;
}
#main #pagination{
    margin: 8px;
}
#main #pagination a{
    text-decoration: none;
    color: rgb(150, 144, 144);
    font-size: 18px;
}
#main #pagination span{
    color: red;
}
